body{
  font-family: sans-serif;
}
#canvas{
  min-width:28em;
  display: block;
  margin: 0 auto;
}

.modal{
  display:block;
  position: fixed;
  z-index:3;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}
.modal2{
  display:block;
  position: fixed;
  z-index:2;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}
.modal3{
  display:none;
  position: fixed;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}

.button, .button2{
  background:white;
  padding:1em 2em;
  color:black;
  border:0;
  cursor: pointer;
}

.button:hover{
  background:#cdcdcd;
}
.button2:hover{
  background:#cdcdcd;
}

.modal-content{
  text-align: center;
  background-color:white;
  margin: 10% auto;
  width:40%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}
